@import '../../shared/colors.scss';

.CurrentLocationWeather-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .CurrentLocationWeather-Caption {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    margin-top: 20px;
    font-weight: 300;
    font-size: 70px;
    line-height: 80px;
    color: $primaryTextColor;
  }
  .CurrentLocationWeather-Description {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    margin-top: 36px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: $secondaryTextColor;
  }
}
