@import '../../shared/colors.scss';

.CityCard-Container {
  display: flex;
  flex-direction: column;
  width: 824px;
  align-self: center;
  margin: 20px;

  border: 1px solid #ffffff;
  border-radius: 6px;
  box-shadow: 0px 2px 10px $shadowColor;

  font-family: 'Lato';
  font-style: normal;

  .CityCard-DividingLine {
    border: 1px solid $lineColor;
    margin: 0 24px;
  }

  .CityCard-CityName {
    margin: 24px 24px 0 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: $primaryTextColor;
  }

  .CityCard-Location {
    margin: 15px 24px 0 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $primaryTextColor;
  }

  .CityCard-Condition_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 40px 24px 12px 24px;

    .CityCard-Condition_caption,
    .CityCard-Condition_text {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: $primaryTextColor;
    }
  }

  .CityCard-Temperature_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 16px 24px 12px 24px;

    .CityCard-Temperature_caption,
    .CityCard-Temperature_text {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: $primaryTextColor;
    }
  }

  .CityCard-Humidity_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 16px 24px 12px 24px;

    .CityCard-Humidity_caption,
    .CityCard-Humidity_text {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: $primaryTextColor;
    }
  }

  .CityCard-Buttons_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 32px 24px 24px 24px;

    .CityCard-Button_remove_visible,
    .CityCard-Button_reload {
      border: none;
      background-color: inherit;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      font-weight: 700;
      color: $purpleButton;
    }
    .CityCard-Button_remove_hidden {
      visibility: hidden;
      font-size: 16px;
      line-height: 24px;
    }

    .CityCard-Button_remove:active,
    .CityCard-Button_reload:active {
      color: lightBackground;
    }
  }
}

@media screen and (width < 825px) {
  .CityCard-Container {
    width: 98%;
  }
}
