$purpleButton: #9b51e0;
$lightBackground: #a8a8a8;
$shadowColor: rgba(10, 10, 10, 0.25);
$lineColor: #c4c4c4;
$primaryTextColor: #1b1b1b;
$secondaryTextColor: #767676;
$errorColor: #FF0101;
$greyButton: #c1c1c1;